@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Lobster&family=Roboto+Mono:wght@300;400;500;600;700&family=Source+Sans+3:wght@400;600&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Lobster&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto+Mono:wght@300;400;500;600;700&family=Source+Sans+3:wght@400;600&family=Yatra+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Calistoga', cursive;
font-family: 'Lobster', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Yatra One', cursive; */
:root{
    --theme:#2970ff;
    --black:#000000;
    --white:#ffffff;
    --shadow:0px 0px 30px 8px rgba(227,227,227,0.75);
}




body{
    font-family: 'Montserrat', sans-serif;
    --webkit-font-snoothing:antialiased;
    --moz-osx-font-smoothing:grayscale;
    /* font-size: medium; */
}
input{
    font-family: 'Montserrat', sans-serif;
}